/* body background css */

body{
    padding: 0;
    margin: 0;
    background: url();
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

/* login form css */
.form{
    position: relative;
    z-index: 1;
    background: #1a0d0d;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
}
